.App-header {
  background-color: #323a46;
  height: 170px;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  display: flex;
}

.App-header-link,
.App-header-text {
  flex: 1;
}

.App-header-text h1 {
  margin-top: 10px;
  flex: 1;
}

.App-header-image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.App-main .top-row {
  margin: 25px 0 35px 0;
  display: flex;
  min-width: 250px;
}

.App-main .top-row .Select {
  flex: 6 0;
}

.App-main .top-row .Button {
  margin-left: 5px;
  font-size: 1.05em;
}
