.Budget {
    min-width: 250px;
}

.Budget-header {
    display: flex;
    align-items: center;
}

.Budget-header h1 {
    flex: 4;
    display: flex;
    align-items: center;
}

.Budget-status {
    display: inline-block;
    margin-left: 8px;
    font-size: 0.6em;
}

.Budget-header .Button {
    flex: 1;
}

.Budget .Button {
    font-size: 1.1em;
}

.Budget-details {
    display: flex;
    align-items: center;
}

.Budget-details .limit,
.Budget-details .spent {
    margin: 0 12px 0 5px;
    font-size: 1.2em;
}

.Budget-details .over.spent {
    font-weight: 600;
}

.Budget-details .over.spent,
.Budget-status.closed {
    color: #ff0000;
}

.Budget-details .warning.spent {
    color: #ff9f00;
}

.Budget-details .under.spent,
.Budget-status.active {
    color: #28b677;
}

.Budget-sort {
    margin: 20px 0;
    direction: flex;
    align-items: center;
    font-size: 0.8em;
    user-select: none;
}

.Budget-sort-by {
    display: inline-block;
    margin-left: 12px;
    text-transform: uppercase;
    color: #696a6c;
    cursor: pointer;
    border-bottom: solid 1px #696a6c;
}

.Budget-items {
    padding: 0;
    list-style-type: none;
}

.Budget-item {
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.Budget-item:nth-child(odd) {
    background: rgba(105, 106, 108, 0.1);
}

.kana .Budget-item-details .Budget-item-name {
    border-bottom: solid 2px pink;
}

.ben .Budget-item-details .Budget-item-name {
    border-bottom: solid 2px lightblue;
}

.Budget-item-details .Budget-item-name,
.Budget-item-details .Budget-item-category,
.Budget-item-price,
.Budget-item-date {
    display: flex;
}

.Budget-item-details,
.Budget-item-price {
    flex: 4 0;
}

.Budget-item-date {
    font-size: 0.8em;
    flex: 1 0;
}

.Budget-item-details {
    padding: 0 25px;
}

.Budget-item-details .Budget-item-name {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.Budget-item-details .Budget-item-category {
    font-style: italic;
    font-size: 0.7em;
}

.Budget-item-price {
    justify-content: flex-end;
    font-size: 1.6em;
}
