body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #323a46;
  height: 100%;
}

main {
  padding: 35px;
}

input {
  font-size: 1.5em;
  border: solid 2px #323a46;
  border-radius: 5px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  body {
    border-left: 0;
  }

  main {
    padding: 8px;
  }
}
