.NewBudgetItem {
    margin-bottom: 25px;
}

.NewBudgetItem.show {
    display: block;
}

.NewBudgetItem.hide {
    display: none;
}

.NewBudgetItem header {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 12px;
}

.NewBudgetItem-input-row {
    display: flex;
    align-items: center;
    min-width: 250px;
    flex-direction: column;
}

.NewBudgetItem-input-row input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.NewBudgetItem-input-row .Select {
    font-size: 1em;
    width: 100%;
    margin-bottom: 5px;
}

.NewBudgetItem-input-row .Select-selected-item-text {
    font-size: 1.2em;
}

.NewBudgetItem-input-row .SelectItem {
    font-size: 0.9em;
}

.NewBudgetItem-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.NewBudgetItem-input-row .Button {
    flex: 1 0;
    width: 100%;
    font-size: 1.05em;
    padding: 15px;
    height: initial;
    margin-left: 3px;
}

.NewBudgetItem-input-row .who-wrapper {
    display: flex;
    width: 100%;
    margin: 10px 0 22px 0;
    cursor: pointer;
}

.NewBudgetItem-input-row .who-wrapper .who-item {
    display: flex;
    flex: 1;
    align-items: center;
}

#ben,
#kana {
    width: 100%;
}