.NewBudget {
    margin-bottom: 25px;
    min-width: 250px;
}

.NewBudget.show {
    display: block;
}

.NewBudget.hide {
    display: none;
}

.NewBudget header {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 3px;
}

.NewBudget-warning {
    font-style: italic;
    font-size:0.8em;
    margin-bottom: 15px;
    display: block;
}

.NewBudget-warning .warning {
    color: #ff0000;
}

.NewBudget-input-row {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.NewBudget-input-row input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.NewBudget-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.NewBudget-input-row .Button {
    flex: 1 0;
    font-size: 1.05em;
    padding: 15px;
}