.Select {
    width: 100%;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.Select-selected-item {
    border: solid 2px #323a46;
    display: flex;
    border-radius: 5px;
}

.Select-selected-item-text,
.Select-selected-item-arrow,
.SelectItem {
    padding: 10px;
    box-sizing: border-box;
}

.Select-selected-item-text {
    width: 100%;
    flex: 1;
    align-self: center;
    font-size: 1.5em;
}

.Select-selected-item-arrow {
    width: 50px;
    border-right: solid 2px #696a6c;
    box-sizing: border-box;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Select-items {
    position: absolute;
    border: solid 2px #323a46;
    border-top: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    margin: 0;
    padding: 0;
    border-bottom-right-radius: 10px;
    max-height: 400px;
    overflow: auto;

	transition-property: all;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.Select.closed .Select-items {
    max-height: 0;
    border: none;
}

.Select.open .Select-items {
    border-bottom: solid 2px #323a46;
}

.Select.open .Select-selected-item {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.SelectItem {
    list-style: none;
    font-size: 1.3em;
    background-color: #fff;
}

.SelectItem:hover {
    background-color: #323a46;
    color: #fff;
    font-weight: 600;
}