.Stats h1 {
  padding-left: 15px;
}

.Stats .row.chart {
  margin-top: 25px;
}

.Stats .stat {
  display: inline-flex;
  flex-direction: column;
  width: calc(100% / 3);
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.Stats .stat label {
  font-size: 1.2em;
}

.Stats .stat .value {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 8px;
}

.Stats .row.most-expensive table {
  font-size: 1.5em;
  padding-left: 15px;
  width: 100%;
}

.Stats .row.most-expensive table tr td {
  padding: 8px;
}

.Stats .row.most-expensive table tr.ben {
  background-color: lightblue;
}

.Stats .row.most-expensive table tr.kana {
  background-color: pink;
}
